<div class="search-bar-container">
  <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
  <button (click)="toggleFilterMenu()" class="filter-button">Filter</button>
  <button (click)="resetSearch()" class="reset-button">Zurücksetzen</button>
</div>
<div class="cocktail-list">
  <app-filter-menu *ngIf="showFilterMenu" (filterApplied)="onFilterApplied($event)"></app-filter-menu>
  <app-cocktail-item *ngFor="let cocktail of filteredCocktails" [cocktail]="cocktail"></app-cocktail-item>
</div>
