.cocktail-item {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #5d3fd3;  // Dunklerer Lilaton
  border-radius: 10px;
  background-color: #1e1e1e;
  transition: all 0.3s ease;
  cursor: pointer;  // Zeigt an, dass die Karte anklickbar ist
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #292929;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &.expanded {
    background-color: #292929;
    border: 2px solid #7a42d6; // Hellerer Lilaton für den erweiterten Zustand
    cursor: default;
  }

  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .info {
      flex: 1;
      padding-right: 20px;

      h3 {
        margin: 0 0 10px 0;
        color: #d3d3d3;  // Hellerer Farbton für die Überschrift
        font-family: 'Pacifico', cursive;
        font-size: 32px;  // Größere Schriftgröße
      }

      p {
        margin: 5px 0;
        color: #b0b0b0;  // Leicht hellere Farbe für den Text
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;  // Größere Schriftgröße
        line-height: 1.6;
      }
    }

    .image {
      flex: 0 0 220px; // Kleinere Breite für das Bild
      height: 220px; // Kleinere Höhe für das Bild
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Damit das Bild vollständig das Element ausfüllt
        border: 2px solid #5d3fd3;  // Dunklerer Lilaton
        border-radius: 10px;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column; // Ändern zu column, um die Inhalte untereinander zu platzieren
    width: 100%;

    .details-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;


      h4 {
        color: #ffffff;  // Helle Farbe für die Überschrift
        font-family: 'Pacifico', cursive;
        font-size: 30px;  // Größere Schriftgröße
      }

      .collapse-button {
        background-color: #5d3fd3;  // Dunklerer Lilaton
        color: #d3d3d3;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 24px;  // Größere Schriftgröße

        &:hover {
          background-color: darken(#5d3fd3, 10%);
        }
      }
    }

    .details-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px;

      .left-content {
        flex: 1;
        width: 52%;
        margin-right: 20px;


        .ingredients,
        .equipment{
          h5 {
            margin: 0 0 10px 0;
            color: #ffffff;  // Helle Farbe für die Überschrift
            font-family: 'Pacifico', cursive;
            font-size: 28px;  // Größere Schriftgröße
          }

          ul {
            list-style-type: none;
            padding: 0;

            li {
              margin: 5px 0;
              color: #b0b0b0;  // Leicht hellere Farbe für den Text
              font-family: 'Open Sans', sans-serif;
              font-size: 20px;  // Größere Schriftgröße
              line-height: 1.6;
            }
          }

          p {
            margin: 5px 0;
            color: #b0b0b0;  // Leicht hellere Farbe für den Text
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;  // Größere Schriftgröße
            line-height: 1.6;
          }
        }
      }

      .large-image {
        max-width: 50%;
        height: 100%;
        align-self: flex-start;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover; // Damit das Bild vollständig das Element ausfüllt
          border: 2px solid #5d3fd3;  // Dunklerer Lilaton
          border-radius: 10px;
        }
      }
    }
  }

  .recipe {
    h5 {
      margin: 0 0 10px 0;
      color: #ffffff;  // Helle Farbe für die Überschrift
      font-family: 'Pacifico', cursive;
      font-size: 28px;  // Größere Schriftgröße
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 5px 0;
        color: #b0b0b0;  // Leicht hellere Farbe für den Text
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;  // Größere Schriftgröße
        line-height: 1.6;
      }
    }

    p {
      margin: 5px 0;
      color: #b0b0b0;  // Leicht hellere Farbe für den Text
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;  // Größere Schriftgröße
      line-height: 1.6;
    }
  }
}
