.filter-menu {
  background-color: #1f1f1f; // Hintergrundfarbe der Filterbox
  border: 1px solid #6200ea; // Lilaner Rand
  border-radius: 10px;
  padding: 20px;
  color: #e0e0e0; // Helle Schriftfarbe
  max-width: 400px;
  margin: 20px auto;

  h3 {
    color: #bb86fc; // Helle lila Farbe für die Überschriften
    margin-bottom: 10px;
  }

  .ingredient-input {
    display: flex;
    margin-bottom: 10px;

    input {
      flex: 1;
      padding: 10px;
      border: 1px solid #6200ea;
      border-radius: 5px;
      background-color: #333333;
      color: #e0e0e0;
      margin-right: 10px;

      &::placeholder {
        color: #bdbdbd;
      }
    }

    button {
      background-color: #6200ea;
      border: none;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #3700b3;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #333333;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .remove-button {
        background-color: transparent;
        border: none;
        color: #ff5252;
        cursor: pointer;
        font-size: 25px;
      }

      .remove-button:hover::after {
        content: 'Zutat entfernen';
        position: absolute;
        transform: translateX(2%);
        background-color: #ff5252;
        color: #fff;
        padding: 0.2em 0.5em;
        border-radius: 3px;
        white-space: nowrap;
      }
    }
  }
}

h4 {
  margin: 0 0 10px 0;
  color: #d3d3d3;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
}
