<div class="filter-menu">
  <h4>Suche deinen Cocktail, so wie du ihn am liebsten magst!</h4>
  <h3>Was soll rein?</h3>
  <div class="ingredient-input">
    <input type="text" [(ngModel)]="includeIngredient" (keydown.enter)="addIncludedIngredient()" placeholder="Zutat eingeben">
    <button (click)="addIncludedIngredient()">Hinzufügen</button>
  </div>
  <ul>
    <li *ngFor="let ingredient of filterData.includedIngredients">
      {{ ingredient }}
      <button (click)="removeIncludedIngredient(ingredient)">Zutat entfernen</button>
    </li>
  </ul>

  <h3>Was soll raus ?</h3>
  <div class="ingredient-input">
    <input type="text" [(ngModel)]="excludeIngredient" (keydown.enter)="addExcludedIngredient()" placeholder="Zutat eingeben">
    <button (click)="addExcludedIngredient()">Hinzufügen</button>
  </div>
  <ul>
    <li *ngFor="let ingredient of filterData.excludedIngredients">
      {{ ingredient }}
      <button (click)="removeExcludedIngredient(ingredient)">Zutat entfernen</button>
    </li>
  </ul>
</div>
